---
import { MdFacebook, MdWhatsapp, MdMail } from "react-icons/md";
import { FaYoutube } from "react-icons/fa";
import { MobileIcon, PaperPlaneIcon } from "@radix-ui/react-icons";
import {
  getAcademicCalendarAndFeesStructure,
  getSchoolTimingAndRulesRegulations,
} from "@/lib/api";
import { navigationData } from "@/shared/data";

const year = new Date().getFullYear();

const [academicCalenderUrl, feesStructureUrl] =
  await getAcademicCalendarAndFeesStructure();

const [schoolTimingUrl, rulesRegulationsUrl] =
  await getSchoolTimingAndRulesRegulations();

const modifiedNavigationData = navigationData.map((item) => {
  item?.child?.map((child) => {
    if (child.href === "academic-calendar") {
      child.href = academicCalenderUrl;
    } else if (child.href === "fees-structure") {
      child.href = feesStructureUrl;
    } else if (child.href === "school-timing") {
      child.href = schoolTimingUrl;
    } else if (child.href === "rules-regulations") {
      child.href = rulesRegulationsUrl;
    }
    return child;
  });
  return item;
});
---

<footer class="w-full bg-white py-10">
  <div class="container mx-auto">
    <div class="-mx-4 px-4 gap-5 flex justify-between flex-wrap">
      <div class="">
        <div class="flex flex-col justify-between h-full gap-2">
          <a href="/" class="flex items-center gap-2">
            <img src={"/favicon.svg"} alt={"Logo"} height={72} width={72} />
            <span class="text-2xl">United Academy</span>
          </a>
          <div class="flex items-center gap-2">
            <PaperPlaneIcon className="scale-125" client:only="react" />
            <address>United Academy, Samsi, Malda, West Bengal, India</address>
          </div>
          <div class="flex items-center gap-2">
            <MobileIcon className="scale-125" client:only="react" />
            <a href="tel:+91">9679774449</a>
          </div>
        </div>
      </div>
      {
        modifiedNavigationData.map((nav) => (
          <div class="">
            <div class="w-full">
              <h4 class="text-dark text-lg mb-2 font-semibold">{nav.title}</h4>
              <ul>
                {nav?.child?.map((link) => (
                  <li>
                    {link.target ? (
                      <a
                        href={link.href}
                        target={link.target}
                        class="text-gray-700 hover:text-black inline-block text-base leading-loose"
                      >
                        {link.title}
                      </a>
                    ) : (
                      <a
                        href={link.href}
                        class="text-gray-700 hover:text-black inline-block text-base leading-loose"
                      >
                        {link.title}
                      </a>
                    )}
                  </li>
                ))}
              </ul>
            </div>
          </div>
        ))
      }
      <div class="">
        <div class="w-full">
          <h4 class="text-dark text-lg mb-2 font-semibold">Follow Us On</h4>
          <div class="mb-6 flex text-3xl gap-8 items-center">
            <a href="#" class="">
              <MdFacebook client:only="react" />
            </a>
            <a href="#" class="">
              <MdWhatsapp client:only="react" />
            </a>
            <a href="#" class="">
              <MdMail client:only="react" />
            </a>
            <a href="#" class="">
              <FaYoutube client:only="react" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-6" />
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm text-blueGray-500 font-semibold py-1">
          Copyright © <span id="get-current-year">{year}</span><a
            href="#"
            class="text-blueGray-500 hover:text-gray-800"
            target="_blank"
          >
            United Academy, Samsi
          </a>
        </div>
      </div>
    </div>
    <div></div>
  </div>
</footer>
